# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd

# 1. Load all three datasets
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [3]:
# 2. Combine all datasets
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [5]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   ST                         2067 non-null   object
 2   GENDER                     1945 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
 11  State                      7070 non-null   object
 12  Gender                     7070 non-null   object
dtypes: float64(3), object(10)
memory usage: 1.2+ MB

In [9]:
# 3. Clean the combined dataset
def clean_data(df):
    # 1. Standardize column names (convert to lowercase with underscores)
    df.columns = [col.lower().replace(' ', '_') for col in df.columns]
    
    # 2. Drop exact duplicate rows
    df = df.drop_duplicates()
    
    # 3. Drop duplicates based on customer + policy_type
    # First check if the columns exist
    if all(col in df.columns for col in ['customer', 'policy_type']):
        df = df.drop_duplicates(subset=['customer', 'policy_type'], keep='first')
    
    # 4. Reset index
    df = df.reset_index(drop=True)
    
    return df

# Apply cleaning
cleaned_df = clean_data(combined_df)

# Save and show results
cleaned_df.to_csv('combined_cleaned_data.csv', index=False)

print("=== Cleaning Results ===")
print(f"Original rows: {len(combined_df)}")
print(f"Cleaned rows: {len(cleaned_df)}")
print(f"Rows removed: {len(combined_df) - len(cleaned_df)}")
print("\nFirst 3 rows of cleaned data:")
cleaned_df.head(3)

=== Cleaning Results ===
Original rows: 12074
Cleaned rows: 9057
Rows removed: 3017

First 3 rows of cleaned data:

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [11]:
# Your code goes here
import pandas as pd

# 1. Load the data
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
new_df = pd.read_csv(url)

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [15]:
# Task 1: Total revenue by sales channel
sales_channel_revenue = pd.pivot_table(
    new_df,
    values='total_claim_amount',
    index='sales_channel',
    aggfunc='sum'
).round(2)

# Rename the column for clarity
sales_channel_revenue.columns = ['Total Revenue']

print("=== Total Revenue by Sales Channel ===")
print(sales_channel_revenue.sort_values('Total Revenue', ascending=False))

# Insight
top_channel = sales_channel_revenue['Total Revenue'].idxmax()
print(f"\nInsight: The highest revenue channel is '{top_channel}' with ${sales_channel_revenue.loc[top_channel][0]:,.2f}")

=== Total Revenue by Sales Channel ===
               Total Revenue
sales_channel
Agent             1810226.82
Branch            1301204.00
Call Center        926600.82
Web                706600.04

Insight: The highest revenue channel is 'Agent' with $1,810,226.82

/var/folders/tn/xjfvdsqn1_d879f1bppyx1xh0000gn/T/ipykernel_28716/4101326059.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"\nInsight: The highest revenue channel is '{top_channel}' with ${sales_channel_revenue.loc[top_channel][0]:,.2f}")

In [17]:
# Task 2: Average CLV by gender and education
clv_summary = pd.pivot_table(
    new_df,
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
).round(2)

print("\n=== Average Customer Lifetime Value ===")
print("(By Gender and Education Level)")
print(clv_summary)

# Find the highest CLV combination
max_clv = clv_summary.max().max()
max_location = clv_summary.stack().idxmax()
print(f"\nInsight: Highest average CLV is ${max_clv} for {max_location[1]} educated {max_location[0]}s")

=== Average Customer Lifetime Value ===
(By Gender and Education Level)
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

Insight: Highest average CLV is $8675.22 for High School or Below educated Fs

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here